<li>
    <div class="box box-koh" 
        data-id="<% index %>" 
        data-nation="<% koh.nation %>" 
        data-ethnic="<% koh.ethnic %>" 
        data-gender="<% koh.gender %>" 
        data-profession="<% koh.profession %>" 
        data-counter="<% index %>">
        <div class="box-inner">
            <h4><% koh.name %></h4>
            <p class="txt__url"><% koh.url %></p>
        </div>
    </div>
</li>